.ml-container{
    color: #00c0fff7;
    text-align: center;
}
div {
    
    margin-top:2%;
}
 .video_block{
    height:50vh;
}
.start_image{
    height:40vh;
    border: solid black;
    border-width: 1px 1px 1px 1px;
    background-color:black;
    border-radius: 5px;
}
.end_image{
    height:40vh;
    border: solid black;
    border-width: 1px 1px 1px 1px;
    background-color:black;
    border-radius: 5px;
}
.full_video {
    height: 40vh;
    border-width: 1px 1px 1px 1px;
    
}
.annotate_st {
    background-color: #de8e15 !important;
}
div.ml_container {
    border: solid black;
    border-width: 1px 1px 1px 1px;
}
.capture_btn{
    text-align:center;
}
span.spec {
    padding-right: 5%;
}
video {
    border-radius:5px;
}